@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    src: url(/fonts/Roboto-Medium.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    src: url(/fonts/Roboto-Bold.ttf) format('truetype');
  }
}